{% extends 'base.html' %}

{% block title %}{{ article.article_title }}{% endblock %}

{% block content %}

    <div class="article-wrapper">
        <h2 class="main-title">{{ article.article_title }}</h2>
        <p class="article-text">{{ article.article_text }}</p>
    
        <p class="article-date">{{ article.pub_date }}</p>
    
        <hr>

        <h3 class="comment-title">Комментарии</h3>

        <form class="comment-form" action="{% url 'articles:leave_comment' article.id %}" method="POST">
    
            {% csrf_token %}
    
            <input type="text" name="name" placeholder="Ваше имя" required maxlength = "50">
            <br>
            <textarea name="text" required placeholder="Текст комментария" maxlength = "200"></textarea>
            <br>
            <button type="submit">Оставить комментарий</button>
        
        </form>

        {% if comments %}
            
            {% for comment in comments %}
                <div class="comment">
                    <div class="comment__info">
                        <p class="author-name">{{ comment.author_name }}</p>
                        <p class="comment__pub-date">{{ comment.pub_date }}</p>
                    </div>
                    <p class="comment-text">{{ comment.comment_text }}</p>
                </div>
            {% endfor %}
    
        {% else %}
            <p>Комментарии не найдены. Станьте первым</p>
        {% endif %}
    
    </div>


{% endblock %}